/* This file contains CSS for the portfolio and contact pages */

/* css for form div */
.formContent{
    border: 2px solid #dddddd;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 28px;
    background: #ffffff;
    width: 900px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777
}
/* Customizing the submit button */
input[type="submit"]{
    background: #4aaaa5;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    
}
input[type="text"], textarea{
    width: 100%;
    
}
/* Everything below is for the portfolio page */
td{
    position: relative;
    padding-bottom: 5px;
}
#hangman{
    background: #4aaaa5;
    padding-top: .5em;
    padding-bottom: .5em;
    color: white;
    width: 99%;
    text-align: center; 
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    vertical-align: bottom;
    font-size: 1em;
    position: absolute;
    bottom: 30px;
}
#rpgGame{
background: #4aaaa5;
padding-top: .5em;
padding-bottom: .5em;
color: white;
width: 99%;
text-align: center; 
font-family: 'Georgia', Times, 'Times New Roman', serif;
vertical-align: bottom;
font-size: 1em;
position: absolute;
bottom: 30px;
}
#trivia{
    background: #4aaaa5;
    padding-top: .5em;
    padding-bottom: .5em;
    color: white;
    width: 99%;
    text-align: center; 
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    vertical-align: bottom;
    font-size: 1em;
    position: absolute;
    bottom: 30px;
}
 #rutger{
        background: #4aaaa5;
        padding-top: .5em;
        padding-bottom: .5em;
        color: white;
        width: 99%;
        text-align: center; 
        font-family: 'Georgia', Times, 'Times New Roman', serif;
        vertical-align: bottom;
        font-size: 1em;
        position: absolute;
        bottom: 30px;
 }
 #rps{
    background: #4aaaa5;
    padding-top: .5em;
    padding-bottom: .5em;
    color: white;
    width: 99%;
    text-align: center; 
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    vertical-align: bottom;
    font-size: 1em;
    position: absolute;
    bottom: 30px;
}
table{
    border-spacing: 1em;
    margin: auto;
}
a:hover{
    font-size: 1.5em;
}